---
import { Icon } from 'astro-icon';
import { Image } from 'astro:assets';
import logoIcon from '~/assets/images/logo-icon.png';

export interface Props {
  title: string;
  subtitle: string;
  subtitleColor: string;
  content: string;
}

const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  subtitleColor = await Astro.slots.render('subtitleColor'),
  content = await Astro.slots.render('content'),
} = Astro.props;
---

<section class="relative bg-blue-50 dark:bg-slate-800">
  <div class="max-w-7xl mx-auto px-10 md:px-20 relative z-10">
    <div class="py-12 md:py-20">
      <div class="text-center md:text-left max-w-5xl mx-auto md:grid md:grid-cols-2">
        <hgroup class="">
          <h1
            class="text-5xl md:text-[3.50rem] font-bold leading-tighter tracking-tighter mb-4 font-heading"
            set:html={title}
          />

          <p class="text-3xl md:text-3xl mb-8">
            <span set:html={subtitle} />

            <span
              class="bg-gradient-to-r from-teal-400 to-green-700 bg-clip-text text-transparent"
              set:html={subtitleColor}
            />
          </p>
        </hgroup>
        <div style="grid-area: 1/2/5/3;">
          <Image
            src={logoIcon}
            class="h-auto w-auto md:max-w-[125%] md:max-h-[calc(100%+20em)] mx-auto relative -mt-10 -z-10"
            sizes="(max-width: 767px) 407px, (max-width: 1479px) 814px, 1629px"
            alt=""
            loading="eager"
            width={1629}
            height={1273}
          />
        </div>
        <div class="md:text-left">
          <p class="text-xl text-zinc-400 mb-4" set:html={content} />
          <div class="m-auto flex flex-nowrap flex-col sm:flex-row sm:justify-center gap-4">
            <a class="btn btn-dark btn-primary sm:mb-0 w-full sm:w-auto" href="#our-sessions">
              <Icon name="mdi:place" class="w-5 h-5 mr-1 -ml-1.5" /> Our Sessions
            </a>
            <a class="btn btn-dark btn-red sm:mb-0 w-full sm:w-auto" href="/support-us">
              <Icon name="tabler:test-pipe" class="w-5 h-5 mr-1 -ml-1.5" /> Support Us
            </a>
            <a class="btn btn-dark btn-hero-features w-full sm:w-auto" href="https://wiki.tuhuratech.org.nz"
              ><Icon name="tabler:book" class="w-5 h-5 mr-1 -ml-1.5" /> Our Wiki</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
