---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/widgets/Hero.astro';
import { headerData } from '~/data';
import Container from '~/components/widgets/Container.astro';

const meta = {
  title: SITE.title,
  description: 'About Us',
  dontUseTitleTemplate: true,
};

const team = [
  {
    name: 'Leon Bowie',
    position: 'Head of operations',
    about:
      'Leon is the Head of Operations for Tūhura Tech with a love of technology and a passion for education. Working in this space for the past 8 years they have a strong focus on supporting students and enhancing opportunities. The former robocup nz representative and NZ cyber security competition winner has a range of interests and passions across technology.',
  },
  {
    name: 'Ai Winters',
    position: 'Volunteer',
    about:
      'Ai is an engaged and dedicated helper for Tūhura Tech in love with making and playing video games. Helping out especially on the Discord server they like to help with the smaller problems. They love to learn from any shred of wisdom and strive to make virtual reality games in the future.',
  },
  {
    name: 'Sofie Claridge',
    position: 'Volunteer',
    about: '',
  },
  {
    name: 'Charlotte MacKenzie',
    position: 'Volunteer',
    about: '',
  },
  {
    name: 'Krishna Priya Nimmagadda',
    position: 'Volunteer',
    about:
      'Krishna is a cybersecurity enthusiast and has been interested in this field since she was in middle school. She was offered a place in Victoria University of Wellington where she is now a second year student doing Bachelor of Engineering with Cybersecurity major. She is also a huge anime nerd and a self taught artist.',
  },
];

const board = [
  {
    name: 'Leon Bowie',
    position: 'Chair',
    about:
      'Leon is the Head of Operations for Tūhura Tech with a love of technology and a passion for education. Working in this space for the past 8 years they have a strong focus on supporting students and enhancing opportunities. The former robocup nz representative and NZ cyber security competition winner has a range of interests and passions across technology.',
  },
  {
    name: 'John Barrow',
    position: 'Secretary',
    about: '',
  },
  {
    name: 'Lillian Pak',
    position: 'Treasurer',
    about: '',
  },
  {
    name: 'Justin Chua',
    position: 'Board Member',
    about: '',
  },
  {
    name: 'Thomas Jackson',
    position: 'Board Member',
    about: '',
  },
  {
    name: 'Wendy Bowie',
    position: 'Board Member',
    about: '',
  },
];
---

<Layout {meta}>
  <Fragment slot="header">
    <Header {...headerData} showRssFeed showToggleTheme position="center" />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero>
    <Fragment slot="title">About Us</Fragment>
    <Fragment slot="subtitle">
      We are a team of people passionate about technology and education.
    </Fragment>
  </Hero>
  <Container>
    <div class="flex flex-col gap-3 mx-auto max-w-4xl">
      <p class="text-lg leading-relaxed text-slate-500 mb-10 md:mb-20">
        Tūhura Tech is a group of tech-savvy and education-focused individuals who saw a need for better technology
        education resources for students and schools in the Wellington area. Driven by a passion for technology and
        education, we founded Tūhura Tech to provide consistent and comprehensive support for those looking to learn
        about technology. Our team is dedicated to helping students and schools grow their technological knowledge and
        skills to prepare them for the future. <br /><br /> With a focus on quality and accessibility, Tūhura Tech offers
        a range of resources, including educational programs and workshops, designed to meet the needs of students and schools.
        We believe that technology plays a critical role in shaping the future, and we are committed to empowering students
        and schools with the tools and knowledge they need to succeed.
      </p>
    </div>
    <!-- Team -->
    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h1 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">Our Team</h1>
      <p class="text-lg mt-4 text-slate-600">Our Team are the people who make Tūhura Tech happen.</p>
    </div>
    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-4xl mt-12">
      {
        team.map((item) => (
          <div class="group">
            <div class="mt-4 text-center">
              <h2 class="text-lg"> {item.name}</h2>
              <h3 class="text-sm text-slate-500"> {item.position}</h3>
            </div>
          </div>
        ))
      }
    </div>

    <!-- Board -->
    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h1 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">Our Board</h1>
      <p class="text-lg mt-4 text-slate-600">
        Our Board set the direction of the Charity and provide stewardship over our actions.
      </p>
    </div>
    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-4xl mt-12">
      {
        board.map((item) => (
          <div class="group">
            <div class="mt-4 text-center">
              <h2 class="text-lg"> {item.name}</h2>
              <h3 class="text-sm text-slate-500"> {item.position}</h3>
            </div>
          </div>
        ))
      }
    </div>
  </Container>
  <div class="px-4 py-16 mx-auto max-w-6xl lg:py-20"></div>
</Layout>
