---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";

interface Props {
  title: string;
  contactImage: ImageMetadata;
  email: string;
  phone: string;
}
const { title, contactImage, email, phone } = Astro.props;
---

<div class="max-w-7xl px-4 lg:px-6 py-12 lg:py-24 mx-auto" id="contact">
  <div class="mb-6 sm:mb-10 max-w-2xl text-center mx-auto">
    <h2 class="font-medium text-primary text-2xl sm:text-4xl">{title}</h2>
  </div>

  <div
    class="grid grid-cols-1 lg:grid-cols-2 lg:items-center gap-6 md:gap-8 lg:gap-12"
  >
    <div
      class="aspect-w-16 aspect-h-6 lg:aspect-h-14 overflow-hidden bg-gray-100 rounded-2xl"
    >
      <Image
        src={contactImage}
        alt="Group of rangatahi"
        class="group-hover:scale-105 transition-transform duration-500 ease-in-out object-cover rounded-2xl"
      />
    </div>

    <div class="space-y-8 lg:space-y-16">
      <div>
        <h3 class="mb-5 font-semibold text-secondary">Our contacts</h3>
        <p class="mb-5">
          Interested in a new location, sponsorship or any other questions?
        </p>
        <p class="mb-10">
          Give us an email or call and we will get back to you as soon as we
          can.
        </p>

        <div class="grid sm:grid-cols-2 gap-4 sm:gap-6 md:gap-8 lg:gap-12">
          <div class="flex gap-4">
            <Icon
              name="mdi:email"
              class="flex-shrink-0 size-5 text-gray-500 dark:text-neutral-400"
              title="Email"
            />

            <div class="grow">
              <p class="text-sm text-gray-600 dark:text-neutral-400">
                Email us
              </p>
              <p>
                <a
                  class="relative inline-block font-medium text-gray-600 dark:text-neutral-400before:absolute before:bottom-0.5 before:start-0 before:-z-[1] before:w-full before:h-1 focus:outline-none"
                  href={`mailto:${email}`}
                >
                  {email}
                </a>
              </p>
            </div>
          </div>

          <div class="flex gap-4">
            <Icon
              name="mdi:phone"
              class="flex-shrink-0 size-5 text-gray-500 dark:text-neutral-400"
              title="Phone"
            />
            <div class="grow">
              <p class="text-sm text-gray-600 dark:text-neutral-400">Call us</p>
              <p>
                <a
                  class="relative text-gray-600 dark:text-neutral-400 inline-block font-medium before:absolute before:bottom-0.5 before:start-0 before:-z-[1] before:w-full before:h- focus:outline-none"
                  href={`tel:${phone}`}
                >
                  {phone}
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
