---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";

interface Props {
  image: ImageMetadata;
  title: string;
  description: string;
  features: { title: string; description: string; icon: string }[];
}
const { title, description, image, features } = Astro.props;
---

<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
  <div class="aspect-w-16 aspect-h-7">
    <Image
      src={image}
      alt="Group of rangatahi"
      class="w-full object-cover rounded-xl"
    />
  </div>

  <div class="mt-5 lg:mt-16 grid lg:grid-cols-3 gap-8 lg:gap-12">
    <div class="lg:col-span-1">
      <h2 class="font-bold text-2xl md:text-3xl text-primary">
        {title}
      </h2>
      <p class="mt-2 md:mt-4 text-gray-500 dark:text-neutral-500">
        {description}
      </p>
    </div>

    <div class="lg:col-span-2">
      <div class="grid sm:grid-cols-2 gap-8 md:gap-12">
        {
          features.map((feature) => (
            <div class="flex gap-x-5">
              <Icon
                name={feature.icon}
                class="flex-shrink-0 mt-1 size-6 text-secondary dark:text-secondary"
                title="Icon"
              />
              <div class="grow">
                <h3 class="text-lg font-semibold text-secondary">
                  {feature.title}
                </h3>
                <p class="mt-1 text-gray-600 dark:text-neutral-400">
                  {feature.description}
                </p>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</div>
