---
import { Icon } from "astro-icon/components";

interface Props {
  cards: {
    title: string;
    description: string;
    ages?: string;
    date?: string;
    type: string;
    signupLink?: string;
  }[];
}
const { cards } = Astro.props;
---

<!-- Icon Blocks -->
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
  <div class="grid sm:grid-cols-2 lg:grid-cols-3 items-center gap-6">
    <!-- Card -->
    {
      cards.map((card) => (
        <a
          class="group flex gap-y-6 size-full hover:bg-gray-100 rounded-lg p-5 transition-all dark:hover:bg-neutral-800 dark:focus:outline-none dark:focus:outline-none dark:focus:bg-neutral-800"
          href={card.signupLink}
        >
          <Icon
            name="mdi:school"
            class="flex-shrink-0 size-8 text-gray-800 mt-0.5 me-6 dark:text-neutral-200"
          />

          <div>
            <div>
              <h3 class="block font-bold text-gray-800 dark:text-white">
                {card.title}
              </h3>
              <p class="text-gray-600 dark:text-neutral-400">
                {card.description}
              </p>
              <br />
              <ul class="list-disc text-gray-600 dark:text-neutral-400">
                <li>When: Every {card.date}</li>
                <li>Age Range: School years {card.ages}</li>
              </ul>
            </div>
            {card.signupLink && (
              <p class="mt-3 inline-flex items-center gap-x-1 text-sm font-semibold text-gray-800 dark:text-neutral-200">
                Sign Up
                <svg
                  class="flex-shrink-0 size-4 transition ease-in-out group-hover:translate-x-1 group-focus:translate-x-1"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path d="m9 18 6-6-6-6" />
                </svg>
              </p>
            )}
          </div>
        </a>
      ))
    }
  </div>
</div>
<!-- End Icon Blocks -->
