---
import Logo from "@components/Logo.astro";
import { headerLinks } from "../data";
---

<header
  class="flex flex-wrap sm:justify-start sm:flex-nowrap w-full bg-white text-sm py-4 dark:bg-neutral-800"
>
  <nav
    class="w-full mx-auto px-4 flex flex-wrap basis-full items-center justify-between"
    aria-label="Global"
  >
    <a href="/">
      <Logo />
    </a>
    <div class="sm:order-3 flex items-center gap-x-2">
      <button
        type="button"
        class="sm:hidden hs-collapse-toggle p-2.5 inline-flex justify-center items-center gap-x-2 rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-transparent dark:border-neutral-700 dark:text-white dark:hover:bg-white/10"
        data-hs-collapse="#navbar-alignment"
        aria-controls="navbar-alignment"
        aria-label="Toggle navigation"
      >
        <svg
          class="hs-collapse-open:hidden flex-shrink-0 size-4"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          ><line x1="3" x2="21" y1="6" y2="6"></line><line
            x1="3"
            x2="21"
            y1="12"
            y2="12"></line><line x1="3" x2="21" y1="18" y2="18"></line></svg
        >
        <svg
          class="hs-collapse-open:block hidden flex-shrink-0 size-4"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          ><path d="M18 6 6 18"></path><path d="m6 6 12 12"></path></svg
        >
      </button>
      <div
        class="hs-dropdown [--strategy:static] sm:[--strategy:fixed] [--adaptive:none]"
      >
        <button
          id="hs-mega-menu-basic-dr"
          type="button"
          class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-white dark:hover:bg-neutral-800"
          onclick="demo.showModal()"
        >
          Donate
        </button>

        <div
          class="hs-dropdown-menu transition-[opacity,margin] duration-[0.1ms] sm:duration-[150ms] hs-dropdown-open:opacity-100 opacity-0 sm:w-48 z-10 bg-white sm:shadow-md rounded-lg p-2 dark:bg-neutral-800 sm:dark:border dark:border-neutral-700 dark:divide-neutral-700 before:absolute top-full sm:border before:-top-5 before:start-0 before:w-full before:h-5 hidden"
        >
          <div
            class="raisely-donate"
            data-campaign-path="tuhura-tech"
            data-profile=""
            data-width="100%"
            data-height="800"
          >
            <script is:inline src="https://cdn.raisely.com/v3/public/embed.js"
            ></script>
          </div>
        </div>
      </div>
    </div>
    <div
      id="navbar-alignment"
      class="hs-collapse hidden overflow-hidden transition-all duration-300 basis-full grow sm:grow-0 sm:basis-auto sm:block sm:order-2"
    >
      <div
        class="flex flex-col gap-5 mt-5 sm:flex-row sm:items-center sm:mt-0 sm:ps-5"
      >
        {
          headerLinks.map((link) => {
            if (link.links) {
              return (
                <div class="hs-dropdown [--strategy:static] sm:[--strategy:fixed] [--adaptive:none] ">
                  <button
                    id="hs-mega-menu-basic-dr"
                    type="button"
                    class="flex items-center w-full text-gray-600 hover:text-gray-400 font-medium dark:text-neutral-400 dark:hover:text-neutral-500 "
                  >
                    {link.label}
                    <svg
                      class="ms-1 flex-shrink-0 size-4"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path d="m6 9 6 6 6-6" />
                    </svg>
                  </button>

                  <div class="hs-dropdown-menu transition-[opacity,margin] duration-[0.1ms] sm:duration-[150ms] hs-dropdown-open:opacity-100 opacity-0 sm:w-48 z-10 bg-white sm:shadow-md rounded-lg p-2 dark:bg-neutral-800 sm:dark:border dark:border-neutral-700 dark:divide-neutral-700 before:absolute top-full sm:border before:-top-5 before:start-0 before:w-full before:h-5 hidden">
                    {link.links.map((sublink) => (
                      <a
                        class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:ring-2 focus:ring-secondary dark:text-neutral-400 dark:hover:bg-neutral-700 dark:hover:text-neutral-300"
                        href={sublink.href}
                      >
                        {sublink.label}
                      </a>
                    ))}
                  </div>
                </div>
              );
            }
            return (
              <a
                class="font-medium text-gray-600 hover:text-gray-400 dark:text-neutral-400 dark:hover:text-neutral-500"
                href={link.href}
              >
                {link.label}
              </a>
            );
          })
        }
      </div>
    </div>
  </nav>
</header>
