---
import { SITE } from '~/config.mjs';
import Layout from './PageLayout.astro';

interface Props {
  frontmatter: {
    title: string;
    pubDate: string;
    tags?: string[];
    license?: string;
    origin_url?: string;
  };
  headings: {
    depth: number;
    text: string;
    slug: string;
  }[];
}
const { frontmatter, headings } = Astro.props;

const meta = {
  title: `${frontmatter.title} | ${SITE.title}`,
  description: headings[0]?.text || '',
};
---

<Layout meta={meta}>
  <section class="py-8 sm:py-16 lg:py-20 mx-auto">
    <div class="gap-x-10 lg:flex lg:items-start mx-auto px-6 sm:px-6 max-w-3xl">
      {
        headings.length > 0 && (
          <aside class="sticky top-20 order-2 -me-64 hidden basis-64 xl:block">
            <a class="hover:text-primary-600" href="#top">
              <h2 class="font-semibold">{frontmatter.title}</h2>
            </a>
            <ul class="mt-4 text-xs">
              {headings.map(({ depth, slug, text }) => (
                <li class="line-clamp-2">
                  <a
                    class={`block hover:text-primary-600 break-words ${
                      depth <= 2 ? 'mt-3' : 'mt-2 ps-3 text-[0.6875rem]'
                    }`}
                    href={`#${slug}`}
                    aria-label={`Scroll to section: ${text}`}
                  >
                    {text}
                  </a>
                </li>
              ))}
            </ul>
          </aside>
        )
      }
      <div
        class="container prose dark:prose-invert prose-headings:font-heading prose-headings:leading-tighter prose-headings:tracking-tighter prose-headings:font-bold prose-a:underline-offset-4 hover:prose-a:text-primary-600 dark:hover:prose-a:text-primary-400 prose-img:rounded-md prose-img:shadow-lgr"
      >
        <h1 id="top" class="mb-6 pb-6 border-b0">
          {frontmatter.title}
        </h1>
        <slot />
      </div>
    </div>
  </section>
</Layout>
